@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif
}

.calorie-counter {
    position: relative;
    width: 100%;
    height: 925px;
    background-size: cover;
    background: url("fruit.png");

}

.counter h1 {
    margin-top: -73px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 47px;
    color: white;
    margin-bottom: 50px;
    margin-left: -17px;
    letter-spacing: 1px;
}

.counter {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 393px;
    height: 638px;
    background-color: white;
    box-shadow: 0 0 3px 2px white;
    top: 87px;
    opacity: 0.8;
    border-radius: 10px;
    padding-left: 23px;
}

.counter h3 {
    margin-top: 10px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
}

.radio_button {
    display: inline-block;
    overflow: hidden;
    margin-top: -9px;
}

.button_toggle {
    display: inline-block;
    float: left;
}

.button_toggle [type=radio]{
    display: none;
}

.button_toggle label {
    display: inline-block;
    padding: 0 15px;
    line-height: 34px;
    border: 1px solid #e89027;
    border-right: none;
    cursor: pointer;
    user-select: none;
}

.radio_button .but_one label{
    border-radius: 6px 0 0 6px;
    width: 152px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;

}

.radio_button .but_two label{
    border-right: 1px solid #e89027;
    border-radius: 0 6px 6px 0;
    width: 152px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.radio_button .but_one input[type=radio]:checked + label {
    background: #e89027;
    color: white;
}
.radio_button .but_two input[type=radio]:checked + label {
    background: #e89027;
    color: white;
}

.user_data input {
    width: 43px;
    height: 27px;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: -9px;

}

.user_data input:valid {
    border: 2px solid black;
    border-radius: 2px;
}

.user_data {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 365px;
}

.user_data div:nth-child(2) {
    margin-left: -22px;
}

.user_data div p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 22px;
    color: black;
}

.user_data div p small {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: darkgray;

}

.workouts label {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;

}

.workouts p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: darkgray;
    padding-left: 24px;
    margin-top: 5px;

}

.workouts input[type="radio"] {
    display: none;
}

.workouts input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 11px;
    height: 11px;
    margin-right: 10px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: darkgray;

}

.workouts input[type="radio"]:checked + * {
    color: #e89027;
}

.workouts input[type="radio"]:checked + *::before {
    border-color: #e89027;
    background: radial-gradient(at center center, #e89027, #e89027);
}

.buttons {
    margin-top: 25px;
}

.calculate {
    border: none;
    width: 135px;
    height: 38px;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    color: white;
    background-color: #e89027;
    cursor: pointer;
}

.delete {
    font-family: 'Ubuntu', sans-serif;
    color: darkred;
    border: none;
    background-color: white;
    font-size: 17px;
    cursor: pointer;
    margin-right: 20px;

}

.calculate, .delete:active,
.calculate, .delete:focus {
    outline: none;
}

.result {
    background-color: white;
    height: 140px;
    width: 400px;
    border-radius: 10px;
    padding-left: 18px;
    padding-top: 16px;
    margin-left: -23px;
    margin-top: 47px;
    color: #e89027;
    box-shadow: 0 0 3px 2px white;
}

.result div {
    display: inline-block;
    width: 123px;
    margin-top: -23px;
}

.result div h4 {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.weight_loss,.weight_gain{
    padding-left: 10px;
}

.gray {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: darkgray;
}

@media screen and (max-device-width: 700px) {
    .calorie-counter {
        zoom: 1.8;
    }
}