@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

html, body, h2{
    margin: 0;
    padding: 0;

}

body {
    background: url("fruit.png");

}

h2 {
    font-family: 'Ubuntu', sans-serif;
    margin: 20px 0 20px 0;;
}

.counter {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 400px;
    height: 662px;
    background-color: white;
    box-shadow: 0 0 3px 2px white;
    top: 73px;
    opacity: 0.8;
    border-radius: 10px;
    padding-left: 23px;

}

@media (max-width: 760px) {
    body {
        position: absolute;
        display: flex;
        justify-content: center;

    }
    html {
        overflow-x: hidden;
    }

}

.counter h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 44px;
    top: -94px;
    position: absolute;
    color: white;
    margin-bottom: 50px;
    margin-left: -17px;
    letter-spacing: 1px
}

.radio_button {
    display: inline-block;
    overflow: hidden;
}

.button_toggle {
    display: inline-block;
    float: left;
}

.button_toggle [type=radio] {
    display: none;
}

.button_toggle label {
    display: inline-block;
    padding: 0 15px;
    line-height: 34px;
    border: 1px solid #e89027;
    border-right: none;
    cursor: pointer;
    user-select: none;
}

.radio_button .but_one label {
    border-radius: 6px 0 0 6px;
    width: 177px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;

}

.radio_button .but_two label {
    border-right: 1px solid #e89027;
    border-radius: 0 6px 6px 0;
    width: 177px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.radio_button .but_one input[type=radio]:checked + label {
    background: #e89027;
    color: white;
}

.radio_button .but_two input[type=radio]:checked + label {
    background: #e89027;
    color: white;
}

.user_data input {
    width: 60px;
    height: 40px;
    font-size: 24px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin-top: -9px;

}

.user_data input:valid {
    border: 2px solid black;
    border-radius: 2px;
}

.user_data {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 351px;
}

.user_data div:nth-child(2) {
    margin-left: -28px;
}

.user_data div p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

.user_data div p small {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: darkgray;

}

.workouts label {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;

}

.workouts p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: darkgray;
    padding-left: 24px;
    margin-top: 5px;

}

.workouts input[type="radio"] {
    display: none;
}

.workouts input[type="radio"] + *::before {
    content: "";
    display: inline-block;
    vertical-align: bottom;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.1rem;
    border-color: darkgray;

}

.workouts input[type="radio"]:checked + * {
    color: #e89027;
}

.workouts input[type="radio"]:checked + *::before {
    border-color: #e89027;
    background: radial-gradient(at center center, #e89027, #e89027);
}

.buttons {
    margin-top: 25px;
    display: flex;
    flex-flow: row nowrap;
}

.calculate {
    border: none;
    width: 156px;
    height: 48px;
    border-radius: 4px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: white;
    background-color: #e89027;
    cursor: pointer;
}

.delete {
    font-family: 'Ubuntu', sans-serif;
    color: darkred;
    border: none;
    width: 165px;
    height: 38px;
    background-color: white;
    font-size: 18px;
    cursor: pointer;
    margin-right: 16px;
}

.calculate, .delete:active,
.calculate, .delete:focus {
    outline: none;
}

.result {
    background-color: white;
    height: 147px;
    width: 400px;
    border-radius: 10px;
    padding-left: 18px;
    padding-top: 1px;
    margin-left: -23px;
    margin-top: 33px;
    color: #e89027;
    box-shadow: 0 0 3px 2px white;
}

.result div {
    display: inline-block;
    width: 123px;
    margin-top: -23px;
}

.result div h4 {
    font-family: 'Ubuntu', sans-serif;
    color: black;
}

.weight_loss, .weight_gain {
    padding-left: 10px;
}

.gray {
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: darkgray;
}